<div class="row justify-content-center">
  <div class="col-xl-5">
    <div class="card auth-card">
      <div class="card-body px-3 py-5">
        <app-logo-box logoHeight="30" height="24" className="mx-auto mb-4 text-center auth-logo" />
        <h2 class="fw-bold text-center fs-18">Sign In</h2>
        <p class="text-muted text-center mt-1 mb-4">Enter your Phone Number and password to access admin panel.</p>

        <div class="px-4">
          <form [formGroup]="signInForm" (ngSubmit)="login()" class="authentication-form">
            <div class="mb-3">
              <label class="form-label" for="example-email">Phone Number</label>
              <input formControlName="Number" type="number" id="example-number" name="example-phone" class="form-control"
                placeholder="Enter your Phone Number">
            </div>
            <div class="mb-3">
              <a routerLink="/auth/reset-pass" class="float-end text-muted text-unline-dashed ms-1">Reset password</a>
              <label class="form-label" for="example-password">Password</label>
              <input type="password" formControlName="password" type="text" id="example-password" class="form-control" placeholder="Enter your password">
            </div>
            <div class="mb-3"> 
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="checkbox-signin">
                <label class="form-check-label" for="checkbox-signin">Remember me</label>
              </div>
            </div>

            <div class="mb-1 text-center d-grid">
              <button class="btn btn-primary" type="submit">Sign In</button>
            </div>
          </form>

        
        </div>
      </div>
    </div>

   

  </div>
</div>